{% if tarifas %}
	<option value="0">Seleccione tarifa</option>
	{% for t in tarifas %}
		<option value="{{ t.getIdTarifa }}" >{{ t.getNombre }}</option>
	{% endfor %}
{% else %}
	<option value="0">No hay tarifas definidas para esta emisora</option>
{% endif %}