{% extends 'TemplateBundle::template.html.twig' %}

{% block title %}Acceso denegado{% endblock %}

{% block content %}
    <div id="error">Oops! Error</div>
    <h3>Error - Acceso Denegado</h3>
    <p>Disculpe, usted no tiene los permisos suficientes para ingresar a esta parte del sistema. Si cree que no debería estar viendo este mensaje, porfavor contacte al administrador del sistema (jsanchez@dsnempresas.com.ar). Disculpe las molestias ocasionadas.</p>
{% endblock %}
